.gallery {
    margin: 10px 50px;
}
.gallery img{
    transition: 1s;
    padding: 15px;
    width: 200px;
}
.gallery img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
    cursor: pointer;
}
.index-button {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.index-button a {
    color: white; /* White text */
    text-decoration: none; /* No underline */
}
